* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 0 1rem;
  font-family: 'Lato', sans-serif;
}

.find-recipe {
  top: 0;
  right: 0;
  position: absolute;
  margin: 1rem;
}
input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
}
input-placeholder {
  color: #333;
  text-align: center;
}
::-webkit-input-placeholder {
  color: #333;
  text-align: center;
}
:-moz-placeholder {
  color: #333;
  text-align: center;
}
::-moz-placeholder {
  color: #333;
  text-align: center;
}
:-ms-placeholder {
  color: #333;
  text-align: center;
}
input[type="submit"] {
  outline: none;
  border: 1px solid #333;
  color: #333;
  background: none;
  padding: 1px;
}
input[type="submit"]:hover {
  background: #333;
  color: #f1f1f1;
}
select {
  outline: none;
  border: 1px solid #333;
  color: #333;
  background: none;
  padding: 0.2em;
}

body {
  background: floralwhite;
}

li {
  list-style: none;
}

#search {
  width: 50%;
  height: 50%;
  position: absolute;
  background: #89C4F4;
}

.results-container {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #333;
  overflow: scroll;
}

.result {
  display: inline-block;
  height: 250px;
  width: 250px;
  background: #E4F1FE;
  color: #333;
  border: 1px solid #333;
  overflow: scroll;
  margin: 1rem;
  text-align: center;
}
.result a {
  color: #333;
  text-decoration: none;
  font-size: 1rem

}
.result a:hover {
  text-decoration: underline;
}
#list {
  width: 50%;
  height: 50%;
  right: 0;
  background-image: url(http://www.wpclipart.com/education/supplies/paper/notepad_page.png);
  background-size: cover;
  position: absolute;
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
  overflow: scroll;
  padding-top: 0.7rem;
}
.shopping-list {
  padding-top: 1rem;
}

#calendar {
  width: 100%;
  height: 50%;
  top: 50%;
  position: absolute;
}

.day {
  display: block;
  position: absolute;
  top: 25%;
  height: 150px;
  width: 150px;
  border: 1px solid #333;
  margin: 1rem;
  background: #F64747;
  color: #EEEEEE;
  text-align: center;
  font-size: 3rem;
}

.day p {
  font-size: 1rem;
}
.day a {
  color: #333;
  text-decoration: none;
  font-size: 0.8rem;
  border: 1px solid #333;
}
.day a:hover {
  color: #f1f1f1;
  background: #333;
}

#sunday {
  left: 0;
  margin-left: 1.2rem;
}
#monday {
  left: 14%;
}
#tuesday {
  left: 28%
}
#wednesday {
  left: 42%
}
#thursday {
  left: 56%;
}
#friday {
  left: 70%;
}
#saturday {
  left: 84%;
}
 footer {
   position: absolute;
   bottom: 0;
   right: 0;
   text-align: right;
   margin: 1rem;
 }
 footer a {
   color: #333;
   border: 1px solid #333;
   text-decoration: none;
   padding: 1px;
   font-size: 0.7rem;
 }
 footer a:hover {
   background: #333;
   color: #f1f1f1;
 }
