body {
  background: red;
}
.results-container {
  width: 100%;
  height: 30%;
  border: 1px solid #333;
  background: #f1f1f1;
  overflow: scroll;
}

.result {
  height: 100%;
  background: steelblue;
  color: #f1f1f1;
  border: 1px solid #333;
  overflow: scroll;
}

#draggable {
  height: 100px;
  width: 100px;
  background: black
}
